*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1230px;
}

.section__heading{
    font-size: 3.5rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 4rem;

    span{
        font-weight: 700;
    }
}

.description{
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

.mt__5{
    margin-top: 5rem !important;
}
.mt__8{
    margin-top: 8rem !important;
}

.pt__7{
    padding-top: 7rem !important;
}
.pt__10{
    padding-top: 10rem !important;
}

.pb__10{
    padding-bottom: 10rem !important;
}

.mb__6{
    margin-bottom: 6rem !important;
}
.mb__5{
    margin-bottom: 5rem !important;
}

.mb__7{
    margin-bottom: 7rem !important; 
}
.mb__8{
    margin-bottom: 8rem !important; 
}
.mb__9{
    margin-bottom: 9rem !important; 
}
.mb__10{
    margin-bottom: 10rem !important; 
}
/*=======================
========= About ==========
=========================*/

.about__us__header__logo{
    width: 100%;
    max-width: 30rem;
}

.about{

    padding: 8rem 0;

    &__top{
        max-width:100rem;
        margin: 0 auto;
        margin-bottom: 6rem;
    }

    &__right{
        position: relative;
        padding: 4rem 4rem;

        &::after,
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border: 2rem solid #28A9A9;
            content: '';
            border-bottom: 0;
            border-right: 0;
        }

        &::before{
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
            border-bottom: 2rem solid #28A9A9;
            border-right: 2rem solid #28A9A9;
            border-left: 0;
            border-top: 0;
            transform: translate(-50%,-50%);
        }
    }


    &__left{
        position: relative;
        padding: 4rem 4rem;


        &::after,
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border: 2rem solid #0088D2;
            content: '';
            border-bottom: 0;
            border-right: 0;
        }

        &::before{
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
            border-bottom: 2rem solid #0088D2;
            border-right: 2rem solid #0088D2;
            border-left: 0;
            border-top: 0;
            transform: translate(-50%,-50%);
        }
    }
}


/*=======================
========= Event ==========
=========================*/

.event{

    padding-bottom: 10rem;

    .description{
        margin-bottom: 0;

        &:link{
            color: #000;
        }
    }


    &__picture{
        // background-image: url(../img/Ica_Summit_WEB_1-23.jpg);
        height: 100%;
    }

    &__text-wrap{
        background-color: #171716;
    }

    &__single{
        display: flex;
        align-items: center;
        // width: 100%;
        padding: 3rem 2rem;

        img{
            margin-bottom: 0 !important;
            max-width: 7rem !important;
        }
    }

    .nav-item{
        width: 100%;
    }

    .nav-tabs{
        height: 100%;
    }

    .tab-content{
        min-height: 15rem !important;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            max-width: 100% !important;
            margin-bottom: 0 !important;
        }
    }

    & a{
        display: flex;
        align-items: center;
        padding: 3rem 0 3rem 4rem;
        flex-direction: row;
        background-color: #161615;
        margin-left: 0 !important;
        
        &:not(:last-child){
            border-bottom: 2px solid #0088D2;
        }

        &.active{
            img{
                filter: brightness(2);
            }
        }

    }

    &__icon{
        margin-right: 2rem;
    }

    &__title{
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .tab__bg{
        width: 100%;
        height: 100%;
        background-image: url(../img/Ica_Summit_WEB_1-23.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 15rem !important;


        &--2{
            background-image: url(../img/Ica_Summit_WwEB_1-44.jpg);
        }

        &--3{
            background-image: url(../img/participate-2.jpg);
        }

        &--4{
            background-image: url(../img/participate-3.jpg);
        }
    }

}

/*=======================
========= Sponser ==========
=========================*/

.sponser{

    padding: 2rem 0;
    text-align: center;

    &__img{
        max-width: 25rem;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5rem;

    }
}


/*=======================
========= Gallery ==========
=========================*/

.gallery{

    padding: 5rem 0;

    &__bg{

        width: 100%;
        height: 30rem;
        background-image: url(../img/Ica_Summit_WEB_1-46.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;

        &--2{
            background-image: url(../img/Ica_Summit_WEB_1-44.jpg);
            background-position: left;
        }

        &--3{
            background-image: url(../img/Ica_Summit_WEB_1-45.jpg);
            background-position: left;
        }
    }
}


/*=======================
========= Cta ==========
=========================*/

.cta{

    background-image: linear-gradient(120deg , #0087D1,#28A9A9);
    padding: 5rem 0;

    &__input{

        background-color: #D1EBF0;
        box-sizing: border-box;
        border-radius: 0;
        font-size: 2rem;
        padding: 1rem 2.5rem;

        &-btn{
            border-radius: 0;
            background-color: #0088D2;
            color: #fff;
            font-size: 2rem;
            border-color: #0088D2;
            outline: none;
            padding: 0 3rem;
        }
    }
}


/*=======================
========= Share ==========
=========================*/

.share{

    padding: 13rem 0 2rem 0;

    &__text{

    }

    &__list{
        list-style: none;
    }

    &__item{
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: .5rem;
        position: relative;
        padding-left: 3rem;

        &::before{
            
            font-family: "Font Awesome 5 Free"; 
            content: '\f00c';
            font-weight: 900;
            color: #0088D2;
            margin-right: 2rem;
            position: absolute;
            left: 0;
            top:35%;
            transform: translateY(-50%);
        }
    }

    &__imgbox{

    }

    &__img{
        width: 100%;
    }   
}



/*=======================
========= Shine Form ==========
=========================*/

.shine-form{
    background-image: linear-gradient(120deg , #0087D1,#28A9A9);
    padding: 8rem 0;


    &__text{
        position: relative;
        line-height: 2;

        &::after{
            position: absolute;
            right: 10%;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: #FFFFFF;
            content: '';
        }
    }

    .form-control{
        background-color: #CCEBEE;
        border-radius: 0;
        margin-bottom: 1.5rem;
        padding: 2.5rem 1.2rem ;
        font-size: 1.6rem;
        outline: none;
        border: none;

        &::placeholder{
            text-transform: uppercase;
            font-weight: 300;
            color: #000;
            font-size: 1.3rem;
            font-family: 'Open Sans', sans-serif;
        }
    }

    button{
        font-size: 2rem;
        font-weight: 600;
        background: #fff;
        color: #0088D2;
        padding: .6rem 4rem;
        border: none;
        outline: none;
        transition: all .3s;

        &:hover{
            background-color:#0088D2 ;
            color: #fff;
        }
    }


    .checkbox_main li label {
        color: #fff;
        font-size: 18px;
        margin-bottom: 12px;
        cursor: pointer;
        font-weight: 400;
    }
    
    .checkbox_main li input[type="checkbox"] {
        display: none;
    }
    
    .checkbox_main li input[type="checkbox"]+label span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -1px 15px 0 0;
        vertical-align: middle;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        position: relative;
    }
    
    .checkbox_main li input[type="checkbox"]+label span:before {
        color: #fff;
        content: "\f00c";
        font-family: "FontAwesome";
        font-size: 11px;
        position: absolute;
        text-align: center;
        left: 3px;
        top: 0px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    
    .checkbox_main li input[type="checkbox"]:checked+label span {
        background: #CDEBF2;
        border-color: #CDEBF2;
    }
    
    .checkbox_main li input[type="checkbox"]:checked+label span:before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        color: #0088D2;
    }
    
    .checkbox_main li input[type="checkbox"]+label span,
    .checkbox_main li input[type="checkbox"]:checked+label span {
        -webkit-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }
    
    .checkbox_style2 li input[type="checkbox"] + label span {
      border-radius: 0px;
    }
}


/*=======================
========= Agenda ==========
=========================*/

.agenda{
    padding: 8rem 0;
}

.nav-tabs{
    border: none;
}


.nav-tabs a{
    font-size: 2rem;
    text-transform: uppercase;
    padding: .6rem 1rem;
    border: 2px solid #0088D2;
    margin: 0 1rem;

    &:hover{
        text-decoration: none;
    }

    &.active{
        background-color: #0088D2;
        color: #fff;
    }
}

.tab_content .row.colored{
    background-image: linear-gradient(120deg , #0087D1,#28A9A9);
    padding: .6rem 0;
}

.tab__bold-text{
    font-weight: 900;
    font-size: 1.6rem;
}

.text__light-text{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

.tab__time{
    font-weight: 700;
    font-size: 1.6rem;
}

.tab_content .row:not(.colored){
    border-bottom: 2px solid #0088D2;
}



/*=======================
========= Video ==========
=========================*/

.embed-responsive{
    box-shadow:0px 24px 44px 4px rgba(0, 0, 0, 0.352) ;
    margin-bottom: 5rem;
}




/*=======================
========= Sponsershop ==========
=========================*/

.sponership{

    background-image: linear-gradient(60deg ,#28A9A9 , #0087D1);
    font-size: 1.6rem;
    padding: 8rem 0;

    &__wrap{
        border: 2px solid #fff;
        padding: 2rem 0;
    }

    &__list{

    }

    &__item{
        margin-bottom: 3px;


        &:last-child{
            background-color: #047EC2;
        }

        &:nth-child(17){
            background-color: #0883C0;
        }
        &:nth-child(16){
            background-color: #0C89BF;
        }
        &:nth-child(15){
            background-color: #1190BD;
        }
    }

    .col-md-6 ul li{
        padding-left: 3rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 1rem;
            width: 7px;
            height: 7px;
            background-color: #FFFFFF;
            transform: translateY(-50%);
        }
    }

    h5{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.7rem;
    }

}





/*=======================
========= Pakages ==========
=========================*/

.pakages{

    padding: 4rem 0 8rem 0;

    
    &__single{
        border: 2px solid #0088D2;
        padding: 5rem 4rem 3rem 4rem;

    }

    &__title{

        font-weight: 900;
        color: #000;
        font-size: 3rem;
        line-height: 2.4rem;
        text-transform: capitalize;
        margin-bottom: 3rem;

        span{
            font-weight: 400;
            color: #0088D2;
            font-size: 2.4rem;
        }
    }

    &__list{

    }

    &__item{
        font-size: 1.6rem;
        position: relative;
        padding-left: 3rem;

        &::before{
            position: absolute;
            content: '';
            width: 7px;
            height: 7px;
            background-color: #0088D2;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        span{
            font-weight: 800;
        }
    }

    .col-md-6:last-child,
    .col-md-6:nth-child(3){

        .pakages__single{
            border-color: #DB0010;
            position: relative;

            &::after{
                position: absolute;
                content: 'sold!';
                text-transform: uppercase;
                font-weight: 900;
                background-color: #DB0010;
                font-size: 2rem;
                top: 20%;
                right: 0;
                color: #fff;
                padding: 0 1rem ;
                transform: translateX(10%);
            }
        }
    }
}




/*=======================
========= participent ==========
=========================*/


.participent{


    img{
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }

    h5{
        font-size: 2rem;
        margin-top: 1rem;

        span{
            font-weight: 700;
        }
    }
}


// Details

.details{
    padding: 12rem 0 7rem 0;
}


// Linkdin BTN

.linkdin__btn{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 2.6rem;
    text-align: left;
    color: #0088D2;
    line-height: 1.3;
    justify-content: center;
    transition: all .3s;

    i{
        font-size: 8rem;
        margin-left: 1.4rem;
        border-radius: 10px;
    }

    &:hover{
        text-decoration: none;
    }
}

// confidence


.confidence{

    padding: 8rem 0;
}

// event

.event{
    padding: 1rem 0 5rem 0;

    img{
        max-width: 10rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    p{
        font-size: 1.5rem;
    }
}

// Owl Button



.owl-nav button{
    position: absolute;
    top: 50%;
    left: 0;
    width: 5rem;
    height: 5rem;
    background: red;
    z-index: 999;
    display: block;
    transform: translateY(-50%);
    
    &::after{
        content: '\f053';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fff;
        font-size: 3rem;
        
        transform: translateY(-50%);
    }

    span{
        display: none;
    }
}


.owl-nav button.owl-next{
    left: auto;
    right: 0;

    &::after{
        content: '\f054';
    }
}


// Navbar

.navbar{
    background-color: transparent;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 3rem 5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: all .3s;


    &.active{
        position: fixed;
        top: 0;
        background-color: #fff;
        color: #000;
        padding: 1rem 5rem;

        .nav-link{
            font-size: 12px;
            color: #000 !important;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 15px !important;
        }

        .speaker__btn{
            border-color: #1C89CF !important;
            border-radius: 50px;
            padding: 1rem 2.5rem !important;
            display: inline-block;
            border: 2px solid #fff;
        }

        .navbar-brand{
            display: none;
        }

        .navbar-brand--2{
            display: block;
        }
    }

    img{
        max-width: 15rem;
    }


    .nav-link{
        font-size: 12px;
        color: #fff !important;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px !important;
    }

    .speaker__btn{
        border-color: #fff;
        border-radius: 50px;
        padding: 1rem 2.5rem !important;
        display: inline-block;
        border: 2px solid #fff;
    }
}   

.navbar-brand--2{
    display: none;
}







// Modals

#modal__form{


    .modal-header button span{
        font-size: 2rem;
    }

    .modal-header button{
        margin-right: -15px;
        margin-top: 30px !important;
    }


    .modal-content{
        background-image:linear-gradient(120deg, #0087D1, #28A9A9) ;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .modal__heading{
        font-weight: 900;
        color: #fff;
        font-size: 3rem;
        text-align: right;
    }

    .modal__logo{
        max-width: 15rem;
    }

    .shine-form .checkbox_main li label{
        font-size: 1.3rem;
        font-weight: 500;
    }

    


    .shine-form{
        background-image: none;
        padding: 0;
    }

    
}



// Custom Check Box


/* The container */
.container__input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  
  /* Hide the browser's default checkbox */
  .container__input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container__input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container__input input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container__input input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container__input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 10px;
    border: solid #0C91C5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



//   Nice Select

.nice-select{
    width: 100%;
    line-height: 0;

    &.form-control{
        padding: 25px 10px;

    }

    .list{
        width: 100%;
    }
}


.nice-select::after{
    height: 8px;
    width: 8px;
}